:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilo para el scroll */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #006699;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #cccccc;
}

/* Estilo para el scroll en Firefox */
scrollbar {
  width: 10px;
}

scrollbar-thumb {
  background-color: #006699;
  border-radius: 10px;
}

scrollbar-track {
  background-color: #cccccc;
}
